<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/front.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link href='https://css.gg/image.css' rel='stylesheet'>
    <link rel="icon" href="images/logo_x2.png" type="image/x-icon">
</head>

    <body>
        {{news}}
        <form method="post">
            {%csrf_token %}
            {{form}}
            <button type="submit">Add</button>
        </form>
    </body>

</html>